@using ToDoListWebDomain.Domain.Entity;
@using ToDoListWeb.Enums;
@using ToDoListWebDomain.Domain.Models;
@*Тут мы подключаем наш слой который находится в папке Shared*@
@{
    Layout = "_Layout";
}
@*Тут код нашей страницы которая не относится к слою
    (я не знаю как этот код автоматом сместить в лево сделаешь это сам а то странно смотрится)
*@


<header class="header">
    <h2>Your tasks</h2>
</header>

<main class="main">
    @*Кнопка для сортировки по дате  нашей задачи от мелкой даты  к большой*@
    <div class="container sort">
        <form method="post" action="~/SortTask/GetSortEnum">
            <select name="SortType" class="text-input">
                <option selected disabled>Choose sort option</option>
                <option value="No Sort">No Sort</option>
                <option value="Date(Descending)">Date (Descending)</option>
                <option value="Date(ascending)">Date (Ascending)</option>
                <option value="Recently added">Recently added</option>
                <option value="Added long ago">Added long time ago</option>

            </select>
            <input type="submit" value="Sort" class="submit">

            <a class="submit" href="@Url.Action("GeneralTasks", "Home")">
                General Tasks
            </a>
        </form> 
        
    </div>
   

    @*Показ задач по сортировки, по умолчанию они не отсартированые*@

    @if (ViewBag.SortType == SortTaskEnum.SortTaskType.NoSort || ViewBag.NoSortTask != null)
    {
        @if (ViewBag.NoSortTask != null)
        {
            var sortedTasks = ViewBag.NoSortTask as List<ToDoTask>;
            @if (sortedTasks == null)
            {
                <p>sortedTasks is null</p>
            }
            else
            {
                @foreach (ToDoTask item in sortedTasks)
                {
                    @if (item.Status != "Выполнено")
                    {
                        <div class="task-container">

                            <div class="task">
                                <h2 style="display: inline;">@item.NameTask</h2>
                                <p>@item.DescriptionTask</p>
                                <p>@item.TaskTime</p>
                                <p>@item.Status</p>

                            </div>

                            <div class="button-container">

                                @*Кнопка которая переносит на страницу редоктировавние задачи*@
                                <form method="get" action="~/Home/ChangeTaskPage">
                                    <input type="hidden" name="Id" value="@item.Id" />

                                    <button type="submit" class="edit submit-button">
                                        <span class="material-symbols-rounded">
                                            edit_note
                                        </span>
                                    </button>

                                </form>

                                @*Кнопка для удаления нашего Task, я думаю луче ее сделать сбоку*@
                                <form method="post" action="~/Task/DeleteTaskDBb">
                                    <input type="hidden" name="Id" value="@item.Id" />

                                    <button type="submit" class="delete submit-button">
                                        <span class="material-symbols-rounded">
                                            delete
                                        </span>
                                    </button>
                                </form>

                            </div>

                        </div>
                    }

                }
            }
            
        }

    
    }
    else if (ViewBag.SortType == SortTaskEnum.SortTaskType.SortTaskDateFromMinToMax)
    {
        var sortedTasks = ViewBag.SortTasksMinToMax as List<ToDoTask>;
        @foreach (ToDoTask item in sortedTasks)
        {
            @if(item.Status != "Выполнено")
            {
                <div class="task-container">

                <div class="task">
                    <h2 style="display: inline;">@item.NameTask</h2>
                    <p>@item.DescriptionTask</p>
                    <p>@item.TaskTime</p>
                    <p>@item.Status</p>
                
                </div>

                <div class="button-container">

                    @*Кнопка которая переносит на страницу редоктировавние задачи*@
                    <form method="get" action="~/Home/ChangeTaskPage">
                        <input type="hidden" name="Id" value="@item.Id" />

                        <button type="submit" class="edit submit-button">
                            <span class="material-symbols-rounded">
                                edit_note
                            </span>
                        </button>

                    </form>

                    @*Кнопка для удаления нашего Task, я думаю луче ее сделать сбоку*@
                    <form method="post" action="~/Task/DeleteTaskDBb">
                        <input type="hidden" name="Id" value="@item.Id"/>

                        <button type="submit" class="delete submit-button">
                            <span class="material-symbols-rounded">
                                delete
                            </span>
                        </button>
                    </form>

                </div>

                </div>
            }
        
        }
    }
    else if (ViewBag.SortType == SortTaskEnum.SortTaskType.SortTaskDateFromMaxToMin)
    {
        var sortedTasks = ViewBag.SortTasksMaxToMin as List<ToDoTask>;
        @foreach (ToDoTask item in sortedTasks)
        {
            @if (item.Status != "Выполнено")
            {
                <div class="task-container">

                    <div class="task">
                        <h2 style="display: inline;">@item.NameTask</h2>
                        <p>@item.DescriptionTask</p>
                        <p>@item.TaskTime</p>
                        <p>@item.Status</p>

                    </div>

                    <div class="button-container">

                        @*Кнопка которая переносит на страницу редоктировавние задачи*@
                        <form method="get" action="~/Home/ChangeTaskPage">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="edit submit-button">
                                <span class="material-symbols-rounded">
                                    edit_note
                                </span>
                            </button>

                        </form>

                        @*Кнопка для удаления нашего Task, я думаю луче ее сделать сбоку*@
                        <form method="post" action="~/Task/DeleteTaskDBb">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="delete submit-button">
                                <span class="material-symbols-rounded">
                                    delete
                                </span>
                            </button>
                        </form>

                    </div>

                </div>
            }

        }
    }
    else if (ViewBag.SortType == SortTaskEnum.SortTaskType.SortRecentlyAdded)
    {
        var sortedTasks = ViewBag.SortTaskRecentlyAdded as List<ToDoTask>;
        @foreach (ToDoTask item in sortedTasks)
        {
            @if (item.Status != "Выполнено")
            {
                <div class="task-container">

                    <div class="task">
                        <h2 style="display: inline;">@item.NameTask</h2>
                        <p>@item.DescriptionTask</p>
                        <p>@item.TaskTime</p>
                        <p>@item.Status</p>

                    </div>

                    <div class="button-container">

                        @*Кнопка которая переносит на страницу редоктировавние задачи*@
                        <form method="get" action="~/Home/ChangeTaskPage">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="edit submit-button">
                                <span class="material-symbols-rounded">
                                    edit_note
                                </span>
                            </button>

                        </form>

                        @*Кнопка для удаления нашего Task, я думаю луче ее сделать сбоку*@
                        <form method="post" action="~/Task/DeleteTaskDBb">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="delete submit-button">
                                <span class="material-symbols-rounded">
                                    delete
                                </span>
                            </button>
                        </form>

                    </div>

                </div>
            }

        }
    }
    else if (ViewBag.SortType == SortTaskEnum.SortTaskType.SortOldAdded)
    {
        var sortedTasks = ViewBag.SortTaskOldAdded as List<ToDoTask>;
        @foreach (ToDoTask item in sortedTasks)
        {
            @if (item.Status != "Выполнено")
            {
                <div class="task-container">

                    <div class="task">
                        <h2 style="display: inline;">@item.NameTask</h2>
                        <p>@item.DescriptionTask</p>
                        <p>@item.TaskTime</p>
                        <p>@item.Status</p>

                    </div>

                    <div class="button-container">

                        @*Кнопка которая переносит на страницу редоктировавние задачи*@
                        <form method="get" action="~/Home/ChangeTaskPage">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="edit submit-button">
                                <span class="material-symbols-rounded">
                                    edit_note
                                </span>
                            </button>

                        </form>

                        @*Кнопка для удаления нашего Task, я думаю луче ее сделать сбоку*@
                        <form method="post" action="~/Task/DeleteTaskDBb">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="delete submit-button">
                                <span class="material-symbols-rounded">
                                    delete
                                </span>
                            </button>
                        </form>

                    </div>

                </div>
            }

        }
    }
    
    

</main>
