@*Применяем наш слой*@
@{
    Layout = "_Layout";
}

<header class="header">
    <h2>Change your task</h2>
</header>

<main class="main">
    <div class="editor">
        <form action="~/Task/ChangeTaskDb" method="post">
           
            @*(Это каментарий на Razor если что) в теге Label там где поле name не меняй его, это
            переменая на которую я ссылаюсь что б принять данные и записать их в базу данных
            ну и во всех Labal name это моя переменная
            *@
            @*Тут в value значение которые хранились в нашей задачи*@ 

            <input type="hidden" name="Id" value="@ViewBag.ChangedTask.Id" />

            <label>
                New task name
                <input type="text" name="TaskName" placeholder="@ViewBag.ChangedTask.NameTask" class="text-input" />
            </label>
            
           
            <label>
                New task description
                <textarea rows="10" cols="50" class="textarea text-input" type="text" name="TaskDescription" placeholder="@ViewBag.ChangedTask.DescriptionTask"></textarea>
            </label>
            <label>
                New date of completion
                <input type="date" name="TaskData" placeholder="@ViewBag.ChangedTask.TaskTime" class="text-input" />
            </label>
            
            @*Это для изминение статуса выполнения задачи, тоесть выполненна или нет*@
            <select name="TaskStatus" class="text-input">
                <option value="In progress" selected>In progress</option>
                <option value="Done">Done</option>
                <option value="Not done">Not done</option>
            </select>

            @*Сообщение об ошибки если пользователь не ввел данные во все поля*@
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <p>@ViewBag.ErrorMessage</p>

            }
            <input type="submit" value="Save changes" class="submit">
        </form>
    </div>
</main>


