<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header class="main-header">
        <h1>To Do List</h1>
    </header>

    <main class="main-content">

        <aside class="aside">
            <div class="button-container">
                <a class="button" href="@Url.Action("Index", "Home")">Home</a>
                <a class="button" href="@Url.Action("CreateTask", "Home")">Create Task</a>
            </div>
        </aside>

        <div class="container">

            <header class="header">
                <h2>Your tasks</h2>
            </header>

            <main class="main">
                @foreach (ToDoTask item in ViewBag.AllTask)
                {
                    <div class="task-container">
                        <h3 style="display: inline;">@item.Id</h3>
                        <h3 style="display: inline;">@item.NameTask</h3>
                        <p>@item.DescriptionTask</p>
                        <p>@item.TaskTime</p>
                        <p>@item.Status</p>
                        @*Кнопка для удаления нашего Task, я думаю луче ее сделать сбоку*@
                        <form method="post" action="~/Home/DeleteTaskDBb">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                }
            </main>


        </div>

    </main>

</body>

</html>
@using ToDoListWeb.Entity;

